.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 100px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  min-height: 200px;
}
